## Reto 2: Manipulación de Strings

### 1. Objetivos:
    - Practicar manipular `strings` usando métodos como `split`, `title`, `strip, etc.

---
    
### 2. Desarrollo:

#### Limpiando strings usando la propiedad `str`

Vamos a trabajar en la versión del dataset que guardaste en el reto pasado. Las acciones que tienes que tomar en este Reto son las siguientes:

1. Reemplaza los guiones en las `strings` de la columna `orbit_class_description` por espacios.
2. Elimina los espacios vacíos al principio y final de las `strings` de la misma columna.
3. Hay una columna llamada `id_name` que contiene el 'id' y el nombre de cada objeto separados por un guión. Separa estos datos en dos columnas llamadas `id` y `name`.
4. Haz que las `strings` de la columna `orbiting_body` empiecen con mayúscula.
5. Asigna el `DataFrame` resultante a la variable `df_reto_2`.
6. Guarda tu resultado en un archivo .csv.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as mp
import pandas as pd

In [ ]:
df_reto_2 = pd.read_csv('/content/drive/MyDrive/near_earth_objects-jan_feb_1995-reto_1.csv',sep='\t')

df_reto_2['id_name'] = df_reto_2['id_name'].str.replace('-',' ')

df_reto_2['id_name'] = df_reto_2['id_name'].str.strip()

df_reto_2['orbiting_body'] = df_reto_2['orbiting_body'].str.capitalize()

df_reto_2

,Unnamed: 0.1,Unnamed: 0,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description
0,0,0,2154652 154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,1970-01-01 00:13:09.467580,Earth,16.142864,58114.308667,Near-Earth-asteroid-orbits-similar-to-that-o...
1,1,1,3153509 (2003 HM),True,96.506147,215.794305,1995-01-07,1970-01-01 00:13:09.491340,Earth,12.351044,44463.757734,Near-Earth-asteroid-orbits-which-cross-the-E...
2,3,3,3837644 (2019 AY3),False,46.190746,103.285648,1995-01-07,1970-01-01 00:13:09.513900,Earth,22.478615,80923.015021,Near-Earth-asteroid-orbits-similar-to-that-o...
3,4,4,3843493 (2019 PY),False,22.108281,49.435619,1995-01-07,1970-01-01 00:13:09.446700,Earth,4.998691,17995.288355,Near-Earth-asteroid-orbits-similar-to-that-of...
4,5,5,3765015 (2016 WR48),False,160.160338,358.129403,1995-01-08,1970-01-01 00:13:09.569160,Earth,7.465089,26874.321682,An-asteroid-orbit-contained-entirely-within-t...
...,...,...,...,...,...,...,...,...,...,...,...,...
296,327,327,2311554 311554 (2006 BQ147),False,483.676488,1081.533507,1995-02-21,1970-01-01 00:13:13.387740,Earth,15.474761,55709.139812,Near-Earth-asteroid-orbits-similar-to-that-of...
297,328,328,2267136 267136 (2000 EF104),False,441.118200,986.370281,1995-02-21,1970-01-01 00:13:13.340220,Earth,16.180392,58249.410194,Near-Earth-asteroid-orbits-similar-to-that-o...
298,329,329,3360486 (2006 WE4),False,441.118200,986.370281,1995-02-21,1970-01-01 00:13:13.381440,Earth,15.106140,54382.104639,Near-Earth-asteroid-orbits-which-cross-the-E...
299,330,330,3656919 (2014 BG3),False,160.160338,358.129403,1995-02-21,1970-01-01 00:13:13.368480,Earth,20.343173,73235.423517,An-asteroid-orbit-contained-entirely-within-t...
300,331,331,3803762 (2018 GY4),False,421.264611,941.976306,1995-02-21,1970-01-01 00:13:13.371240,Earth,29.732426,107036.733058,Near-Earth-asteroid-orbits-similar-to-that-o...

In [ ]:
df_reto_2.to_csv('near_earth_objects-jan_feb_1995-reto_2.csv',sep=',',encoding='utf-8')

¡Compara con tus compañeros y con la experta tu solución para asegurarte de que realizaste los procesos adecuadamente!